
<%= render "shared/header" %>

<h1>トップ画面</h1>
<p>learning</p>

<%# 教材登録 %>
<ul>
<% if @textbooks.present? %>
  <% @textbooks.each do |textbook| %>
    <li>
      <div>
        <div>登録した参考書</div>
        <div><%= textbook.book %></div>
        <div><%= link_to "診断する", textbook_path(textbook) %></div>
        <div><%= link_to "学習記録をする", new_textbook_record_path(textbook) %></div>
      </div>
    </li>
  <% end %>
<% end %>
  <li>
    <%= link_to new_textbook_path do %>
      <div>
        <div>画像　参考書の追加</div>
        <div>名前</div>
      </div>
    <% end %>
  </li>
</ul>
