<div class="textbook-title">
  <h1>教材を登録しましょう！</h1>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <%= form_with model: @textbook, url: textbooks_path, local: true do |f| %>
    <%# error_massages %>
    <%= render 'shared/error_messages', model: f.object %>
    <%# book %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">教材名</label>
      </div>  
      <%= f.text_area :book, id:"book",class:"left-30 input-book textarea-resize-n", placeholder:"教材名を入力してください", autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">表紙画像</label>
      </div>  
      <%= f.file_field :image, id:"image",class:"left-30",  autofocus: true %>
    </div>
    <%# page %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">学習するページ</label>
        <p class="caution left-30">※目次や前書きを抜いて入力してください</p>
      </div>
      <div class="left-30 form-page">
        <%= f.text_field :s_page, id:"s_page", placeholder:"20",class:"input-box" %>
        <p>ページから</p>
        <%= f.text_field :e_page, id:"e_page", placeholder:"200",class:"input-box" %>
        <p>ページまで</p>
      </div>
    </div>
    <%# submit %>
    <div class='register-btn'>
      <%= f.submit "参考書登録" ,class:"register-red-btn left-30" %>
    </div>
  <% end %>
</div>