<div class="textbook-title">
  <h1>これまでの学習履歴を確認しましょう！</h1>
  <%= link_to '目標を設定する',new_textbook_goal_path(@textbook), class:"btn btn-add btn-outline-secondary" %>
</div>

<div class="row g-3">
  <h1><%= @textbook.book %></h1>
<%# chart-js-railsの導入 %>
  <canvas id="myChart" width="400" height="400"></canvas>
  <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
  </script>
 

  <%# 目標表示 chartkick %>
  <div> 
    <%= Date.today %>
    <div>
      月曜日<%= @df_time.d_mon %>時間
    </div>
    <%= @df_time.d_tue %>
    <%= @df_time.d_wed %>
    <%= @df_time.d_thu %>
    <%= @df_time.d_fri %>
    <%= @df_time.d_sat %>
    <%= @df_time.d_sun %>

    <h2>目標学習時間</h2>
    <%# <%= column_chart ({"月"=> @df_time.d_mon,"火"=>@df_time.d_tue,"水"=>@df_time.d_wed,"木"=>@df_time.d_thu,"金"=>@df_time.d_fri,"土"=>@df_time.d_sat,"日"=>@df_time.d_sun}) %> %>
    

  </div>

  <%# グラフ %>
  <h2>週間学習時間</h2>
  <% if @max_date.present? %>
    <div class="graph_content">
      <div class="datetime_content">
        <p class="date_content"><%= "#{@tb_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@tb_date.wday]})")} 〜 #{@te_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@te_date.wday]})")}" %></p>
        <p class="time_content"><%= "合計学習時間：#{@sum_time_t[:hours]} 時間 #{@sum_time_t[:minutes]} 分" %></p>
      </div>
      <%# <%= column_chart @date_hash_t %> %>
    </div>
  <% end %>
  <% if @prev_week_present.present? %>
    <div class="graph_content">
      <div class="datetime_content">
        <p class="date_content"><%= "#{@lb_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@lb_date.wday]})")} 〜 #{@le_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@le_date.wday]})")}" %></p>
        <p class="time_content"><%= "合計学習時間：#{@sum_time_l[:hours]} 時間 #{@sum_time_l[:minutes]} 分" %></p>
      </div>
      <%# <%= column_chart @date_hash_l %> %>
    </div>
  <% end %>

  <%# 学習履歴 %>
  <div >
    <div class="list-group">
      <% @records.each do |record| %>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <div class="left-style">
              <h5 class="mb-1 left-style-unit"><%= "日付:#{record.r_date}" %></h5>
              <h6 class="mb-1 left-style-unit"><%= "学習時間:#{record.hours}時間#{record.minutes}分" %></h6>
              <h6 class="mb-1 left-style-unit"><%= "〜#{record.r_page}ページ" %></h6>
            </div>
            <small><%= "更新日:#{record.created_at.strftime('%Y/%m/%d %H:%M')}" %></small>
          </div>
          <small><%= "コメント:#{record.r_text}" %></small>
        </a>
      <% end %>
    </div>
  </div>
</div>