<div class="textbook-title">
  <h1>これまでの学習履歴を確認しましょう！</h1>
  <%= link_to '目標を設定する',edit_textbook_goal_path(@textbook), class:"btn btn-add btn-outline-secondary" %>
</div>

<div class="row g-3">
  <h1><%= @textbook.book %></h1>

  <%# コンテンツ %>
  <% if @max_date.present? %> 
    <div>
      <div class="learning-contents">
        <h2>今日の学習</h2>
        <div class="today-contents">
          <ul>
            <li class="today-content">
              <p class="today-title"><%= "学習時間" %></p>
              <p class="today-text"><%= "#{@today_time[:hours]}時間　#{@today_time[:minutes]}分" %></p>
            </li>
            <li class="today-content">
              <p class="today-title"><%= "目標学習時間" %></p>
              <p class="today-text"><%= "#{@df_time_today}時間　0分" %></p>
            </li>
          </ul>
        </div>
      </div>
      <% if @df_time_data.max > 0 %>
        <div class="learning-contents">
          <h2>今週の学習</h2>
          <div class="week-contents">
            <ul>
              <li  class="week-content">
                <p class="week-title"><%= "目標学習時間" %></p>
                <p class="week-text"><%= "#{@df_time_sum}時間　0分" %></p>
              </li>
              <li  class="week-content">
                <p class="week-title"><%= "目標学習ページ" %></p>
                <p class="week-text"><%= "〜#{@df_time_page}ページ" %></p>
              </li>
              <li  class="week-content">
                <p class="week-title"><%= "学習速度" %></p>
                <p class="week-text"><%= "#{@learning_speed.ceil}ページ/時間" %></p>
              </li>
              <li  class="week-content">
                <p class="week-title"><%= "学習終了予定日" %></p>
                <p class="week-text"><%= "#{@necessary_date}" %></p>
              </li>
            </ul>
          </div>    
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    
    
  </div>

  <%# グラフ %>
  <h2>週間学習時間</h2>
    <div class="graph_content">
      <div class="datetime_content">
        <% if @max_date.present? %>
          <p class="date_content"><%= "#{@tb_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@tb_date.wday]})")} 〜 #{@te_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@te_date.wday]})")}" %></p>
          <p class="time_content"><%= "合計学習時間：#{@sum_time_t[:hours]} 時間 #{@sum_time_t[:minutes]} 分" %></p>
        <% else %>
          <p class="date_content"><%= "#{@b_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@b_date.wday]})")} 〜 #{@e_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@e_date.wday]})")}" %></p>
        <% end %>
      </div>
      <canvas id="myChart1" width="300" height="100"></canvas>
    </div>
  
  <% if @prev_week_present.present? %>
    <div class="graph_content">
      <div class="datetime_content">
        <p class="date_content"><%= "#{@lb_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@lb_date.wday]})")} 〜 #{@le_date.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@le_date.wday]})")}" %></p>
        <p class="time_content"><%= "合計学習時間：#{@sum_time_l[:hours]} 時間 #{@sum_time_l[:minutes]} 分" %></p>
      </div>
      <canvas id="myChart2" width="300" height="100"></canvas>
    </div>
  <% end %>

  <%# 学習履歴 %>
  <div>
    <h2>学習履歴</h2>
    <div class="list-group">
      <% @records.each do |record| %>
        <div class="d-flex">
          <%= link_to edit_textbook_record_path(@textbook, record),class: "list-group-item list-group-item-action" do %>
            <div>
              <div class="d-flex w-100 justify-content-between">
                <div class="left-style">
                  <h5 class="mb-1 left-style-unit"><%= "日付:#{record.r_date}" %></h5>
                  <h6 class="mb-1 left-style-unit"><%= "学習時間:#{record.hours}時間#{record.minutes}分" %></h6>
                  <h6 class="mb-1 left-style-unit"><%= "〜#{record.r_page}ページ" %></h6>
                </div>
                <small><%= "更新日:#{record.created_at.strftime('%Y/%m/%d %H:%M')}" %></small>
              </div>
              <small><%= "コメント:#{record.r_text}" %></small>
            </div>
            <%= link_to textbook_record_path(@textbook, record), method: :delete,class: "trash_button trash_button_action" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <script>
    const ctx = document.getElementById('myChart1').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: <%= @week_date %>,
            datasets: [
              {  
                label: '目標学習時間',
                data: <%= @df_time_data %>,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
              }
              <% if @max_date.present? %>
                ,{
                  label: '学習時間',
                  data: <%= @b_data %>,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)'
                  ],
                  borderWidth: 1
                }
              <% end %>
            ]
          },
        options: {
            scales: {
                yAxes: {
                    ticks: {
                      stepSize: 1
                    
                    }
                }
            }
        }
    });

    <% if @prev_week_present.present? %>
      const ctx2 = document.getElementById('myChart2').getContext('2d');
      const myChart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
              labels: <%= @week_date_l %>,
              datasets: [
                {  
                  label: '目標学習時間',
                  data: <%= @df_time_data %>,
                  backgroundColor: [
                      'rgba(54, 162, 235, 0.2)'
                  ],
                  borderColor: [
                      'rgba(54, 162, 235, 1)'
                  ],
                  borderWidth: 1
                },
                {
                  label: '学習時間',
                  data: <%= @b_data_l %>,
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)'
                  ],
                  borderWidth: 1
                }
              ]
            },
          options: {
              scales: {
                  yAxes: {
                      ticks: {
                        stepSize: 1
                      }
                  }
              }
          }
      });
    <% end %>
  </script>