<h1><%= @textbook.book %></h1>

<div>
  <% @records.each do |record| %>
    <%= record.hours %>
    時間
    <%= record.minutes %>
    分
  <% end %>
</div>
<div>
  合計
  <%= @sum_hours %>
  時間
  <%= @sum_minutes %>
  分
</div>


<%= column_chart @date_hash %>
<%# <%= column_chart @date_group.sum(:minutes) %>
<%# <% @date_array.each do |date| %>
  <%# <%= column_chart({date[:date] => date[:hours]}) %>
<%# <% end %>

<%# <%= column_chart({"2021-01-01" => 2, "2021-01-02" => 3}) %>