<%= render "shared/header" %>
<h1>学習登録ページ</h1>

<%= form_with url: learnings_path, local: true do |f| %>
  <h2>教科</h2>
  <div>
    <%= f.label :subject, "教科を選択してください" %>
    <%= f.text_field :subject %>
  </div>
  <h2>教材</h2>
  <div>
    <%= f.label :book, "参考書を選択してください" %>
    <%= f.text_field :book %>
  </div>
  <h2>開始ページ</h2>
  <div>
    <%= f.label :s_page, "学習を始めてるページを入力してください" %>
    <%= f.text_field :s_page %>
  </div>
  <h2>終了ページ</h2>
  <div>
    <%= f.label :e_page, "最後の学習ページを選択してください" %>
    <%= f.text_field :e_page %>
  </div>
  <h2>週の目標学習時間</h2>
  <div>
    <%= f.label :w_time, "週の目標学習時間を入力してください" %>
    <%= f.text_field :w_time %>
  </div>

  <div>
    <%= f.submit "登録する" %>
    <%# <%=link_to 'もどる', root_path, class:"back-btn" %> %>
  </div>
<% end %>