<div class="textbook-title">
  <h1>ログイン</h1>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
    <%# error_massages %>
    <%= render 'shared/error_messages', model: f.object %>
    <%# email %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= f.email_field :email, class:"input-default left-30 user-form-base", id:"email", placeholder:"　PC・携帯どちらでも可", autofocus: true %>
    </div>
    <%# password %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード</label>
      </div>
      <%= f.password_field :password, class:"input-default left-30 user-form-base", id:"password", placeholder:"　6文字以上の半角英数字" %>
    </div>
    <%# submit %>
    <div class='register-btn'>
      <%= f.submit "ログイン" ,class:"register-red-btn" %>
    </div>
  <% end %>
</div>
